body{
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer{
    display: flex;
    border: 1.5px purple solid;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;
}

.links{
    display: flex;
    border: 1.5px purple solid;
    width:300px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.top{
    display: flex;
    border: 1.5px purple solid;    
    background-color: #1f2937;
    justify-content: center;
}

.top-text{
    font-size: 16px;
    border: 1.5px purple solid;
    color: #e5e7eb;
}

#title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;  
}

.top-img{
    width: 100px;
    border: 1.5px purple solid;
    max-height: auto;
   
}