body{
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer{
    display: flex;
    /* border: 1.5px purple solid; */
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;
}

.links{
    display: flex;
    /* border: 1.5px purple solid; */
    width:300px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.top{
    display: flex;
    /* border: 1.5px purple solid;     */
    background-color: #1f2937;
    justify-content: center;
}

.top-text{
    font-size: 16px;
    width: 33%;
    /* border: 1.5px purple solid; */
    color: #e5e7eb;
}

#title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;  
}

.top-img{
    display: flex;
    width: 33%;
    /* border: 1.5px purple solid; */
    max-height: auto;
    align-items: center;
}

img{
    max-width: 100%;
}

.mid-info{
    display:flex;
    flex-direction:column;
    align-items: center;
    /* border: 1.5px purple solid; */
}

.info-card{
    width:10%;
    margin: 3%;
    text-align: center;
}

.info-card-grp{
    display: flex;
    justify-content: center;
}


.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author{
    text-align: right;
    margin-top: 0px;
    font-size: small;
}

.quote-txt, .author{
    width: 50%;
}

.signup{
    display: flex;
    justify-content: center;
}

.signup-box{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;

}
.signup-txt{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%
    /* margin-top: 5%;
    margin-bottom: 5%; */
}

.button-container{
    align-items: center;
    /* margin-left: 10%; */   
}

.signup-top, .signup-bottom{
    color: white;
    margin-top: 0;
    margin-bottom:0;
}

.signup-top{
    font-weight: bold;
}

.signup-bottom{
    font-size:small;
}



button{
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    border:0;
}

.signup button{
    border: solid white;
}
